.main-cont55{
    margin-inline: 3.5%;
    margin-top: 2%;
    width: 80vw;
}
.hashtags88 {
    font-size: 12px;
    width: 250px; /* Ensures a fixed width */
    display: flex;
    flex-wrap: wrap; /* Allows wrapping of content */
    gap: 5px; /* Optional: Adds space between the hashtags */
    overflow-wrap: break-word; /* Ensures long words break to fit the container */
  }
  
  .hashtag-span {
   /* Optional: Add a background color */
 
   
   
  }
  
.message-for-draft{
    text-align: center;
    font-weight: 300;
}
.card-cont3{
border: 1px solid #EAEAEA;
background: linear-gradient(to right,#0000ff11,75%,#ff149513);
padding: 5%;
width: 350px;
margin-top: 2%;
gap:20px;
border-radius: 10px;
}
.profile-cont{
    display: flex;
    
    align-items: center;
    
}
.profile-subcont{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    
}
.avtar{
    width: 70px;
    height: 70px;
}
.name{
    margin:0px;
    
}
.email{
    opacity: 0.55;
    margin:0px 0px 0px 0px;
    font-size: 12px;
}
.small-cont{
    display: flex;
    align-items: center;
    color:#8F00FF;
    cursor: pointer;
    font-size: 12px;
}

.para23{
    color: #595959;
    font-size: 12px;
    width: 100%;
    height: 150px;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Limit to 5 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5; /* Adjust this according to your line height */
    max-height: calc(1.5em * 4); 
}
.bottom-cont44{
    display: flex;
    align-items: center;
    margin-top: 3%;
    background-color: white;
    border:1px solid #EAEAEA;
    border-radius: 10px;
    padding: 2%;
}
.btm-img44{
    width: 18px;
    cursor: pointer;
    height: 18px;
    object-fit: contain;

}
.card-containr{
display: grid;
grid-template-columns: repeat(3, 1fr); /* 3 columns */
gap: 10px; /* Gap between cards */
padding: 5px;
}
.para44{
    color: #BC66FF;
    font-size: 10px;
    cursor: pointer;
}
.button{
     background: linear-gradient(90deg, #0000FF 0%, #8F00FF 48.99%, #FF1494 99.99%);
    padding-inline: 4%;
    padding-block: 1.5%;
    border-radius: 8px;
    font-size: 12px;
    color:white;
    cursor: pointer; 
      &:active {
        background-color: #0056b3;
        transform: scale(0.95);
      }
}
.main-cont {
    position: relative;
    // Other styles...
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); // Semi-transparent background
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; // Make sure it's above other content
  }
  
  .overlay .ant-spin {
    font-size: 24px; // Optional: Customize the spinner size
    color: white; // Optional: Customize the spinner color
  }
  
.heading{
    display: flex;
    align-items: center;
}
.str{
    width: 20px;
    height: 20px;
    object-fit: contain;
}