
.bg-img-sect77 {
    position: relative;
    width: 80%;
    height: auto; /* Maintain aspect ratio */
    z-index: 2;
  }
  .bg-img-sect55 {
    position: absolute;
    top: 0;
    margin-top: 10vh;
    left: 0;
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    z-index: 1;
  }
  .image-container999 {
    position: relative;
    margin-top: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto; /* Adjust height as needed */
  }
  .biggest-text9 {
    text-align: center;
    margin: 0;
    width: 90vw;
    font-size: 40px;
    font-weight:500;
    
  }
  .container-section99 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
  }
  .app79 {
    display: flex;
    justify-content:center;
    padding: 20px;
   
  }
  .cards-row79 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .card77 {
    background: #fff;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    min-width: 200px;
    margin: 10px;
   cursor: pointer;
    display: flex;
    flex-direction: column;
    
    transition: transform 0.2s;
  }
  
  .card77:hover {
    transform: translateY(-5px);
  }
  
  .card-image79 {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card-content79 {
    padding-inline: 20px;
    text-align: left;
    height: 20vh;
    
  }
  
  .card-title79 {
    font-size: .9em;
    margin-bottom: 10px;
    font-weight: 500;
  }
  
  .card-description79 {
    font-size: .8em;
    margin-bottom: 20px;
    color: #666;
   
  }
  
  .card-link79 {
    font-size: .8em;
    color:#553EF2;
    padding: 20px;
    text-align: left;
    text-decoration: none;
  }
  
  .card-link79:hover {
    text-decoration: underline;

  }
  .app69 {
    text-align: center;
    padding: 10vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F6F5FF;
  }
  
  .carousel69-container {
    position: relative;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slide69 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .content69 {
    max-width: 45%;
    text-align: left;
  }
  
  .content69 h2 {
    font-size: 1.7rem;
    color: #000;
  }
  
  .read-more69 {
    color: #007bff;
    text-decoration: none;
    display: inline-block;
    margin-top: 1rem;
  }
  
  .image69 {
    width: 70%;

  }
  
  .image69 img {
    width: 70%;
    height: auto;
  }
  .image69-alt img {
    width: 55%;
    height: auto;
  }
  
  .carousel69-indicators {
    display: flex;
    justify-content: left;
    margin-top: 1rem;
  }
  
  .indicator69 {
    width: 40px;
    height: 6px;
    background-color: #d3d3d3;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .indicator69.active69 {
    background-color:#003DB8;
  }
  
  .nav69 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .prev69 {
    left: 10px;
  }
  
  .next69 {
    right: 10px;
  }
  .newsletter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 10vh;
    padding: 2px;
    padding-bottom: 1px;
    background: linear-gradient(90deg, rgba(245, 233, 255, 1) 0%, rgba(255, 249, 250, 1) 100%);
    border-radius: 10px;
    max-width: 90%;
    margin-inline: auto;
  }
  .footer9 {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    margin-top: -5vh;
    
    
  }
  .jumpa {
    text-decoration: none !important;
    cursor: pointer;
  }
  .jumpa:hover{
    color: #8F00FF;
  }
  .footer-section {
    flex: 1;
    margin: 0 20px;
  }
  
  .footer-logo {
    width: 50px;
    margin-bottom: 10px;
  }
  
  .footer-section h3 {
    margin-bottom: 10px;
  }
  
  .footer-section p,
  .footer-section ul,
  .footer-section li {
    margin: 5px 0;
    color: #555;
  }
  
  .footer-section a {
    color: #555;
    text-decoration: none;
  }
  
  .footer-section a:hover {
    text-decoration: underline;
  }
  
  .cta-button90 {
    z-index: 999;
    background: linear-gradient(90deg, #0000FF 0%, #8F00FF 48.99%, #FF1494 99.99%);
    color: white;
    border-radius: 6px;
 
  margin-top: 2vh;
    border: none;
    cursor: pointer;
    padding: 11px;
    width: 150px;
  }  
  .newsletter-content {
    max-width: 40%;
    padding: 2vh;
  }
  
  
  
  .newsletter-input {
    display: flex;
    align-items: center;
    width: 80%;
    margin-top: 20px;
  }
  
  .newsletter-input input {
    padding: 15px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: transparent;
    
    outline: none;
    flex: 1;
  }
  
  .newsletter-input button {
 
  }
  .biggest-text91 {
    text-align: center;
    margin: 0;
   width: 80%;
    font-size: 40px;
    font-weight:500;
    
  }
  
  .newsletter-image img {
    max-width: 70%;
    border-radius: 10px;
  }
  @media (max-width: 768px) {
    .contact-item{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    .newsletter-image img{
      width: 70vw;
      position: relative;
      bottom:50px
     
    }
    .top{
      margin-top: 5vh !important;
    }
    .size-p{
      width: 90%;
    }
    .right{
      text-align: center !important;
    }
    .co{
      margin-block: 5vh !important;
    }
   .image-container{
    display: none ;
   }
   .carousel-container79 {
    display: none;
  }

  .single-card-container {
    display: block !important;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 5vh;

    .page {
      margin: 0 5px;
      cursor: pointer;

      &.active {
        font-weight: bold;
      }
    }
  }
   
   .contact-form-container {
        flex-direction: column;
        align-items: center !important;
        display: flex;
        margin-inline: auto;
        justify-content: center;
        padding-inline:0 !important;
               margin-top: -10vh;
        width: 100%;
    }
    .footer-section101 {
    
     
      padding-inline: 50px !important;
    
    }
  
    .contact-item {
      text-align: start;
     
    }
  
    .contact-details4 {
      width: 100%;
    }

    .contact-text{
      margin-top: 1px;
      max-width: 80%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-inline: auto;
    }

    .biggest-text91 {
      font-size: 24px;
      text-align: center;
      width: 90%;
    }
    .biggest-text92 {
      font-size: 15px !important;
      text-align: center;
     
    }
   
  .contact-text p ,.contact-details4 p {
      font-size: 1em;
       margin-right: 0; /* Remove right margin for mobile */
    }

    .contact-form {
        width: 80%;
        text-align: center; /* Adjust form width on mobile */
    }
    .newsletter-container6{
      margin-block:2vh;
      text-align: center;
      flex-direction: column;
      height: 50vh;
    }
    .hide{
      display: none !important;
    }
    .newsletter-content{
      max-width: 100%;
      padding: 2vh;
 text-align: center;
    }
    .newsletter-image101{
text-align: center;
    }

    .form-group {
        flex-direction: column;
        gap: 15px;
    }
    .kuma{
      margin-top: -5vh;
      width: 100%;
      text-align: center !important;
      margin-inline: auto;
      justify-content: center;
      flex: 1;
     
    }
    
 .footer9{
  grid-template-columns: repeat(1, 1fr); /* 3 cards per row */

 }
      .footer-section{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
  width: 85%;
  

   
    
      
        }
        .jumpa {
          text-align: center;
        }
        .bora{
          display: none;
        }
        .footer-section3{
        display: flex;
        flex-direction: column;
        align-items: center;
        
          margin-inline: 2vh;

            flex-direction: column; /* Stack elements vertically on mobile */
          
          
                 
             
               }
        .karuna{
     
          padding-inline: auto !important;
          text-align: center;
          display: flex;
        
          align-items: center;
          justify-content: center;
          flex-direction: column;
         

        }
        .karuna1{
          width: 200% !important;
          text-align: center;

        }
        .contact-info-container57{
          display: flex;
        flex:1;
          align-items: center;
          justify-content: center;
          padding: 0;
          margin-inline: auto;
          width: 100% !important;
          text-align: center;
          flex-direction: column;
          margin-top: 15vh;
        }
      
        .enquiry{
          font-size: 24px;
          font-weight: 400;
          text-align: center;
          
      }
      .image-container57 {
        display: flex;
        padding-inline: 0 !important;
        margin-inline: auto;
        min-width: 80%;
        
        align-items: center;
        justify-content: center;
      }
      .footer-section ul{
        
          align-items: center;
          justify-content: center;
          display: flex;
          flex-direction: column;
      
      }
      .submit-button{
        text-align: center;
      }
      .subscribe-form2{
        
      
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
      .closs{
        width: 100% !important;
        text-align: center;
        margin-inline:auto !important 
      }
      .team-member{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-inline: auto;
        width: cover;
        flex-direction: column;
      }
      .content{
        width:100% !important;
      }
      .content p{
        width: 98%;
      }
      .profile-img {
        margin-right: 0 !important;
        z-index: 2;
        width: 50vw; /* Adjust as needed */
     
        padding: 0 !important;
    }
    .values-container{
      display: grid;
      grid-template-columns: 1fr;
    }
    .container-section99 {
    margin-top: 10vh !important;
    }
    .card77{
      margin-inline: auto;
    }
    .slide69{
      display: flex;
      flex-direction: column;
    }
    .content69{
      max-width: 100% !important;
    }
    .image69 ,.image69-alt{
      width: 100%;

    }
    .image69 img,.image69-alt img{
      position: relative;
      left: 20vw;
      height: 15vh;
      object-fit: contain;
      bottom: 5vh;
      width: 50vw;
    }
    .app69{
      padding: 2vh !important;
    }
    .read-more69{
      margin-top: 0 !important;
      
    }
  }