/* Style for LinkedIn events */
.event-linkedin {
    background-color: #0077b5; /* LinkedIn's blue */
    color: white;
  }
  
  /* Style for Twitter events */
  .event-twitter {
    background-color: #1da1f2; /* Twitter's black */
    color: white;
  }
  