.card-cont3{
    border: 1px solid #EAEAEA;
    background: linear-gradient(to right,#0000ff11,75%,#ff149513);
    padding: 5%;
    width: 350px;
    margin-top: 2%;
    gap:20px;
    border-radius: 10px;
    }