.custom-menu .ant-menu-item-selected::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 4px; 
    background: linear-gradient(180deg, #0000FF 0%, #8F00FF 49.5%, #FF1494 100%);
  }
  
  .custom-menu .ant-menu-item .ant-menu-item-icon img {
    filter: invert(21%) sepia(75%) saturate(6184%) hue-rotate(268deg) brightness(100%) contrast(102%) !important;
  }
  .avtar-c {
margin-top: 200px;
margin-inline: 15px;

align-items: center;
justify-content: center;
  }
  .logout-btn{
    color: red;
    margin-top: -7px;
  margin-left: 15px;
    cursor: pointer;
  }
  .profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: contain;
  }
  
.cta-button-side {
  background: linear-gradient(90deg, #0000FF 0%, #8F00FF 48.99%, #FF1494 99.99%);
  color: white;
  border-radius: 6px;


  border: none;
  cursor: pointer;
  padding: 11px;
  width: 150px;
}
.profile-popup {
  position: fixed;
  bottom: 20px;
  
  width: 200px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 15px;
  z-index: 1001;
}

.popup-content {
  text-align: center;
}

.profile-pic-large {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.popup-content h3 {
  margin: 0;
  font-size: 18px;
}

.popup-content p {
  margin: 5px 0 15px;
  font-size: 14px;
  color: #555;
}

.logout-btn {
  background-color: #ff4d4f;
  color: white;
  display: 1;
  align-self: center;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  margin: auto;
  cursor: pointer;
  width: 100%;
}

.logout-btn:hover {
  background-color: #ff7875;
}

  .custom-menu{
    font-size: 12px;
  }
  
  .custom-menu .ant-menu-item-selected {
    background-color: #F8EFFF !important;
    color:#8F00FF !important;
}

.custom-menu .ant-menu-item {
  width: 100% !important;
  margin-inline: 0 !important;
  border-radius: 0 !important;
}
   
 
li .ant-menu-item{
  width: 100% !important;
  margin-inline: 0 !important;
  border-radius: 0 !important;
}
  
  .item-ims {
    width: 15px;
    height: 15px;
  }
  
.carousel-wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 80px;
  padding: 20px;
  box-sizing: border-box;
}

.card {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  padding-block: 3px;

  text-align: center;
  background-color: white;
  margin: 0 10px; 
}

.card-logo {
  width: 30px;
  
  height: 30px;
}

.cent-logo {
  width: 50px;
  margin-left: 10px;
  height: 50px;
  margin-top: 10px;
}

.card-content {
  margin-left: 15px;
  font-size: 10.5px;
  
  width: 80px;
}

.slick-slider {
  display: block;
  box-sizing: border-box;
}

.slick-list {
  overflow: hidden;
  display: block;
  margin: 0 -10px; 
  padding: 0;
  box-sizing: border-box;
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.slick-slide {
  overflow: hidden;
  float: left;
  height: 100%;
  min-height: 1px;
}

.slick-slide img {
  display: block;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-arrow {
  display: block;
  z-index: 1;
}

.slick-prev, .slick-next {
  width: 30px;
  height: 30px;
}

.slick-prev {
  left: -35px; 
}

.slick-next {
  right: -35px; 
}

.slick-dots {
  bottom: -30px;
}
.slick-prev:before, .slick-next:before {

  opacity: 0 !important;
  
}

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: 0 !important;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: relative ;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 500;
}

.navbar-brand {
  display: flex;
  cursor: pointer;
  align-items: center;
  text-decoration: none;

}
.biggest-text912{
  text-align: center;
  margin: 0;
  margin-bottom: 2vh;
 width: 100%;
  font-size: 40px;
  font-weight:500;
}
.swiper-slide-next,
.swiper-slide-prev {
  transform: translate3d(0px, 0px, -91.8033px) rotateX(0deg) rotateY(0.918033deg) scale(0.9) !important;
  background-color: white !important;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}
/* Adjust the navbar-menu for mobile screens */
@media (max-width: 768px) {
  .navbar {
    position:relative;
    width: 90vw !important;
  }
  .biggest-text912 {
    font-size: 24px;
    text-align: center;
    width: 90%;
  }
  .closs{
    width: 100% !important;
    text-align: center;
    margin-inline:auto !important 
  }
  
  .navbar-menu {
    display: none !important;
    flex-direction: column;
    width: 100%;
   
    top: 7.46%; /* Position below the navbar */
    left: 0;
    position: fixed;
    background-color: white;

    padding: 0;
    margin: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    z-index: 20000;
    overflow-y: auto; /* Add scroll if content overflows */
    max-height: calc(100vh - 60px); 
     /* Ensure the menu appears above other content */
  }

  .navbar-menu.open {
    display: flex !important; /* Show the menu when open */
  
  }
  .go{
    margin-left: -4vw ;
  }
  .signup-btn{
    margin-left: 0 !important;
  }

  .navbar-menu li {
   
    padding: 10px 0;
    text-align: center;
    
  }

  .navbar-menu li a {
    color: white; /* Ensure the menu items are visible */
  }

  .navbar-actions {
    display: none !important;
  }

  .menu-toggle {
    display: block ;  /* Ensure it's visible */
    z-index: 2000;
    margin-right: 3vw;               /* Ensure it's above other elements */
    position: relative;
  }
}


/* styles.css */

.navbar-menu li.active a {
  color: purple; /* Change color to your preferred active color */


}

.navbar-brand h2{
  color: black;
  
}

.navbar-brand .logo {
  height: 35px;
  margin-right: 1rem;
}

.navbar-menu {
  display: flex;
  list-style: none;
  font-size: 14px;
}

.navbar-menu li {
  margin: 0 2rem;
}

.navbar-menu li a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.navbar-menu li :hover{
  
  color: purple;
  transition: 1s;
  cursor: pointer;
}

.navbar-actions {
  display: flex;
  margin-right:5vw;
  align-items: center;
}

.login-btn, .signup-btn {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

.signup-btn {
  background: linear-gradient(90deg, #0000FF 0%, #8F00FF 48.99%, #FF1494 99.99%);
  color: white;
  border-radius: 6px;
  padding: 11px;
  width: 100px;
}
.cta-button8 {
  background: linear-gradient(90deg, #0000FF 0%, #8F00FF 48.99%, #FF1494 99.99%);
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  padding: 11px;
  width: 150px;
}



.login-btn {
  background-color: transparent;
  color: black;
  border: 0.6px solid black;
  border-radius: 6px;
  padding: 10px;
  width: 100px;
}
/* Hide the button inside the navbar-menu on larger screens */
.navbar-actions-mobile {
  display: none;
}

/* Show the button inside the navbar-menu on small screens */
@media (max-width: 768px) {
  .navbar-brand h2{
    display: none;
    
  }

  .navbar-actions-mobile {
      display: block;
      text-align: center; /* Center the login button within the menu */
      margin-top: 10px; /* Space above the login button inside the menu */
  }
  .max-height{
    height: 100% !important;
  }
}

