.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .navbar-brand .logo {
    height: 35px;
    margin-right: 1rem;
  }
  
  .navbar-menu {
    display: flex;
    list-style: none;
    font-size: 14px;
  }
  
  .navbar-menu li {
    margin: 0 2rem;
  }
  
  .navbar-menu li a {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
  .navbar-menu li :hover{
    
    color: purple;
    transition: 1s;
    cursor: pointer;
  }
  .navbar-actions {
    display: flex;
    margin-right:5vw;
    align-items: center;
  }
  
  .login-btn, .signup-btn {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
  }
  
  .signup-btn {
    background: linear-gradient(90deg, #0000FF 0%, #8F00FF 48.99%, #FF1494 99.99%);
    color: white;
    border-radius: 6px;
    padding: 11px;
    width: 100px;
  }
  .cta-button8 {
    background: linear-gradient(90deg, #0000FF 0%, #8F00FF 48.99%, #FF1494 99.99%);
    color: white;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    padding: 11px;
    width: 150px;
  }
  
  

  .login-btn {
    background-color: transparent;
    color: black;
    border: 0.6px solid black;
    border-radius: 6px;
    padding: 10px;
    width: 100px;
  }
  
  .main-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: center;
  }
  .support-css{
    text-align:center;
    width:68vw;
    margin-top:10vh !important;
  }
  .biggest-text{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0;
    width: 50vw;
    text-align: center;
  }
  .biggest-text1{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 2vh;
    
    
  }
  .biggest-img{
    width: 95%;
    margin-block: 3vh;
    position: relative;
    height: auto;

  }
  .left-img{
    top:110vh;
    position: absolute;
    left: 20px;
    height: 70vh;
    z-index: 2;
    width: auto;
  }
  .right-img{
    top:70vh;
    position: absolute;
    right: 0;
    height: 120vh;
    z-index: 2;
    width: auto;
  }
  .features-content{
    margin-inline: 5vw;
    position: relative;
    margin-block: 5vw;
  }
  .half-img{
    width: 35vw;
    height: auto;
    margin-block: 2vh;
  }

  .features-section1{
    width: 80%;
    justify-content: center;
    align-content: center;
    height: auto;
    display: flex;
    align-items: center;
  }
  .container-section1{
    display: flex;
    justify-content: center; /* Centers the section horizontally */
    align-items: center;     /* Centers the section vertically (if needed) */
    
  }
  .container-section2{
    display: flex;
    justify-content: center; /* Centers the section horizontally */
    align-items: center;     /* Centers the section vertically (if needed) */
    margin-top: -40vh;
    
  }
  .container-section3{
    display: flex;
    justify-content: center; /* Centers the section horizontally */
    align-items: center;     /* Centers the section vertically (if needed) */
    margin-top: -55vh;
    
  }
  .features-section2{
    width: 100%;
    justify-content: center;
    align-content: center;
    height: auto;
    
    display: flex;
    align-items: center;
  }
  .features-list{
  
    margin-top: 3vh;
 
  }
  .container-section4{
    display: flex;
    margin-block: 16vh;
    flex-direction: column;
    justify-content: center; /* Centers the section horizontally */
    align-items: center;     /* Centers the section vertically (if needed) */
    position: relative;
  }
  .img-cont-sect4{
    border-radius: 10px;
  width: 20vw;
  height: auto;
  margin-left: 19vw;
  box-shadow: (-2px -2px 15px hsla(240, 80%, 90%, 0.542));
    
  }
  .img1-cont-sect4{
    border-radius: 10px;
  width: 40vw;
  margin-left: 3vh;
  height: auto;
  box-shadow: (-2px -2px 15px hsla(240, 80%, 90%, 0.542));
    
  }
  .img3-cont-sect4{
    border-radius: 10px;
  width: 20vw;
  height: auto;
  
  margin-left: 3vh;
  box-shadow: (-2px -2px 15px hsla(240, 80%, 90%, 0.542));
    
  }
  .kira{
    margin-top: -4vh;
  }
  .img2-cont-sect4{
    border-radius: 10px;
    margin-top: 3vh;
  width: 40vw;
  margin-left: 21vw;
  height: auto;
  box-shadow: (-2px -2px 15px hsla(240, 80%, 90%, 0.542));
    
  }
  .bg-img-sect5{
    width: 100%;
    height: auto;
    margin-top: 30vh;
  }
.cards-img-sect5{
  width: 75%;
  height: auto;
  position: absolute;
  top: 22vh;
}
.cards-img-sect6{
  width: 75%;
  height: auto;
  position: absolute;
  top: 15vh;
}
.features-section6{
  width: 50%;
  justify-content: center;
  align-content: center;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
}
.cta-button9 {
  background: linear-gradient(90deg, #0000FF 0%, #8F00FF 48.99%, #FF1494 99.99%);
  color: white;
  border-radius: 6px;
  position: absolute;
margin-top: 90vh;
  border: none;
  cursor: pointer;
  padding: 11px;
  width: 150px;
}
.features-section77{
  width: 60%;
  margin-top: 7vh;
  justify-content: center;
  align-content: center;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
}
.pricing-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 cards per row */
  gap: 20px;
  justify-content: center;
}

@media (max-width: 992px) { /* For medium screens */
  .pricing-cards {
    grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
  }
}

@media (max-width: 576px) { /* For small screens */
  .pricing-cards {
    grid-template-columns: 1fr;
    padding: 5px; /* 1 card per row */
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .sup-cards{
    margin-top:-40vh !important;
  }
  .pricing-card{
    width: 80% !important;
    margin: 0 !important;
  }
}


/* src/PricingCard.css */
.pricing-card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 30px;
  text-align: center;

  background-color: #F4F6FA;
  width: 300px;
  margin: 10px;
  
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.pricing-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.small-p-rngs{
  color: #162133;
  text-align: start;
  font-size: 13px;
  margin-top: -3vh;
  margin-left: -3vh;
  margin-bottom: 4vh;
  font-weight: 200;
}
.small-p-rngs1{
  color: #162133;
  text-align: start;
  font-size: 13px;
  margin-top: -3vh;
  margin-left: -3vh;
  margin-bottom: 4vh;
  font-weight: 200;
}
.plan-icon {
  width: 35px;
  height: 35px;
}
.pricing-cards .pricing-card:nth-child(3) .small-p-rngs1 {
  margin-top:4vh;
}


.pricing-price {
  display: flex;
  justify-content:flex-start;
  align-items: baseline;
  margin: 20px 0;
}

.pricing-price h2 {
  font-size: 2.5rem;
  margin: 0;
}

.pricing-price span {
  font-size: 1rem;
  margin-left: 5px;
}

.annual-price {
  margin: 10px 0;
  text-align: start;
}

.cta-button {
  background: linear-gradient(90deg, #0000FF 0%, #8F00FF 48.99%, #FF1494 99.99%);
  color: white;
  font-weight: 200;
  font-size: 12px;
  margin-left: -9vw;
  border-radius: 6px;
  
  text-decoration: none;
  cursor: pointer;
  padding: 11px;
  width: 150px;
  text-decoration: none;
  display: inline-block;
}
/* src/Footer.css */
/* src/Footer.css */

.footer {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  margin-top: -30vh;
  
  
}
.jumpa {
  text-decoration: none !important;
  cursor: pointer;
}
.sup-cards{
  margin-top: -80vh;
}
.jumpa:hover{
  color: #8F00FF;
}
.footer-section {
  flex: 1;
  margin: 0 20px;
}

.footer-logo {
  width: 50px;
  margin-bottom: 10px;
}

.footer-section h3 {
  margin-bottom: 10px;
}

.footer-section p,
.footer-section ul,
.footer-section li {
  margin: 5px 0;
  color: #555;
}

.footer-section a {
  color: #555;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.subscribe-form {
  display: flex;
  align-items: center;
  width: 20vw;
  box-shadow: (-2px -2px 15px hsla(240, 80%, 90%, 0.542));
}

.subscribe-form input {
  padding: 10px;
  border: none;
  border-radius: 10px 0 0 10px;

  flex: 1;
}

.subscribe-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.subscribe-form button:hover {
  background-color: #444;
}

.follow-us {
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.social-icons a {
  margin: 0 10px;
}

.social-icons img {
  width: 20px;
  height: 20px;
}
.footer-section ul {
  list-style: none;
  padding: 0;
}
.contact-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-icon {
  width: 20px;  /* Adjust the size as needed */
  height: 20px;
}

.contact-details h4 {
  margin: 0;
}

.contact-details p {
  margin: 0;
}
.last-line{
  color: gray;
  font-weight: 200;
  font-size: 12px;
  text-align: center;
  padding-bottom: 3vh;
  padding-top: 2vh;
}

@media (max-width: 768px) {
  .contact-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
.maya{
  margin-top: 60vh !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

 .contact-form-container {
      flex-direction: column;
      align-items: center !important;
      display: flex;
      margin-inline: auto;
      justify-content: center;
      padding-inline:0 !important;
             margin-top: -10vh;
      width: 100%;
  }
  .footer-section101 {
  
   
    padding-inline: 50px !important;
  
  }
  .kira{
    width: 58%;
    position: relative;
    top: -1vh !important;
  }
  .container-section4{
    margin-block: 2vh !important;
  }

  .contact-item {
    text-align: start;
   
  }

  .contact-details4 {
    width: 100%;
  }

  .contact-text{
    margin-top: 1px;
    max-width: 80%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-inline: auto;
  }

  .biggest-text91 {
    font-size: 24px !important;
    text-align: center;
    width: 90%;
  }

.contact-text p ,.contact-details4 p {
    font-size: 1em;
     margin-right: 0; /* Remove right margin for mobile */
  }
  .features-section77{
    width: 95%;
    margin-inline: auto;
    height: auto;
  }

  .contact-form {
      width: 80%;
      text-align: center; /* Adjust form width on mobile */
  }
  .newsletter-container{
    margin-block:2vh;
    text-align: center;
    flex-direction: column;
  }
  .newsletter-content{
    max-width: 100%;
    padding: 2vh;
text-align: center;
  }
  .newsletter-image101{
text-align: center;
  }

  .form-group {
      flex-direction: column;
      gap: 15px;
  }
  .kuma{
    margin-top: -5vh;
    width: 100%;
    text-align: center !important;
    margin-inline: auto;
    justify-content: center;
    flex: 1;
   
  }
  
.footer9{
padding: 0 !important;
}
    .footer-section{
      
 width:35%;
 margin-inline: 5vh;

 
  
    
      }
      .bora{
        display: none;
      }
      .footer-section3{
      
        width:250%;
        margin-inline: 2vh;

          flex-direction: column; /* Stack elements vertically on mobile */
        
          padding-inline: 60px;
               
           
             }
      .karuna{
   
        padding-inline: auto !important;
        text-align: center;
        display: flex;
      
        align-items: center;
        justify-content: center;
        flex-direction: column;
       

      }
      .karuna1{
        width: 200% !important;
        text-align: center;

      }
      .contact-info-container57{
        display: flex;
      flex:1;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin-inline: auto;
        width: 100% !important;
        text-align: center;
        flex-direction: column;
        margin-top: 15vh;
      }
    
      .enquiry{
        font-size: 24px;
        font-weight: 400;
        text-align: center;
        
    }
    .image-container57 {
      display: flex;
      padding-inline: 0 !important;
      margin-inline: auto;
      min-width: 80%;
      
      align-items: center;
      justify-content: center;
    }
    .submit-button{
      text-align: center;
    }
    .subscribe-form2{
      margin-inline: auto;
      width: 80%;
      margin-right: 50vh;
      text-align: center;
    }
    .closs{
      width: 100% !important;
      text-align: center;
      margin-inline:auto !important 
    }
    
  }