.contact-form-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    z-index: 3;
    width: 70%;
    
  }
  .biggest-text91 {
    text-align: center;
    margin: 0;
   width: 80%;
    font-size: 40px;
    font-weight:500;
    
  }
  .image-container00 {
    position: relative;
    margin-top: -25vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto; /* Adjust height as needed */
  }
  .footer9 {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr); /* 3 cards per row */
    background: linear-gradient(114.88deg, #151515 31.19%, #652F90 135.45%);

    padding: 40px;
    margin-top: -5vh;
    
    
  }
  .newsletter-image101{
    margin-bottom:-2vh;
   
  }
  .newsletter-image101 img{
    max-width: 70%;
    border-radius: 10px;
  }
  .jumpa {
    text-decoration: none !important;
    cursor: pointer;
  }
  .jumpa:hover{
    color: #8F00FF;
  }
  .footer-section {
    flex: 1 1 20%;
    margin: 0 20px;
  }

  .footer-section101 {
    flex: 1;
    margin: 0 20px;
  }
  
  .footer-logo {
    width: 50px;
    margin-bottom: 10px;
  }
  
  .footer-section h3 {
    margin-bottom: 10px;
  }
  
  .footer-section p,
  .footer-section ul,
  .footer-section li {
    margin: 5px 0;
    color: #555;
  }
  
  .footer-section a {
    color: #555;
    text-decoration: none;
  }
  .newsletter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 10vh;
    padding: 2px;
    padding-bottom: 1px;
    background: linear-gradient(90deg, rgba(255, 67, 169, 0.3) 0%, rgba(0, 0, 255, 0.3) 100%);

    border-radius: 10px;
    max-width: 90%;
    margin-inline: auto;
  }
  .footer-section a:hover {
    text-decoration: underline;
  }
  
  
  .cta-button90 {
    z-index: 999;
    background: linear-gradient(90deg, #0000FF 0%, #8F00FF 48.99%, #FF1494 99.99%);
    color: white;
    border-radius: 6px;
 
  margin-top: 2vh;
    border: none;
    cursor: pointer;
    padding: 11px;
    width: 150px;
  }  
  .newsletter-content {
    max-width: 40%;
    padding: 10vh;
  }
  
  .bg-img-sect55 {
    position: absolute;
    top: 0;
    margin-top: 10vh;
    left: 0;
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    z-index: 1;
  }
  .whole-cont{
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .contact-text {
    max-width: 40%;
    margin-top: -10vh;
  }
  
 
  
  .contact-text p {
    font-size: 1.2em;
    color: #666;
  }
  .contact-info-container57 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    margin-top: 40vh;
    background: #fff;
    border-radius: 10px;
    
  }
  
  .image-container57 {
    max-width: 40%;
  
    padding: 10vh;
  }
  
  .image-container57 img {
    width: 100%;
    border-radius: 10px;
  }
  
  .info-container57 {
    max-width: 45%;
    color: #333;
  }
  
  .info-container57 p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  .girl-cont{
    width: 120vw;
    height: 50vh;
    
    
  }
  .cta-button93 {
    background: linear-gradient(90deg, #0000FF 0%, #8F00FF 48.99%, #FF1494 99.99%);
    color: white;
    border-radius: 6px;
    position: absolute;
  margin-top:24vh;
  z-index: 100;
  margin-right: 57vw;
    border: none;
    cursor: pointer;
    padding: 12.5px;
    width: 150px;
  }
  .girl-container1{
    display: flex;
    justify-content: center;
    margin-top: -5vh;
    align-items: center;
  }
  
  .info-item57 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1em;
  }
  
  .info-item57 i {
    color: #3b82f6;
    margin-right: 10px;
  }
  
  .info-item57 span {
    color: #666;
  }
  
  .contact-form {
    background: white;
    z-index: 2;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.1);
    width: 50%;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .form-group input,
  .form-group textarea {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
  }
  
  .form-group textarea {
    resize: none;
    height: 100px;
  }
  
  .submit-button {
    background: linear-gradient(90deg, #0000FF 0%, #8F00FF 48.99%, #FF1494 99.99%);
    color: white;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    padding: 11px;
    width: 150px;
  }
  .kuma{
   text-align: start;
    width: 100%;
  }
  .subscribe-form2 {
    display: flex;
    align-items: center;
    width: 90%;
    box-shadow: (-2px -2px 15px hsla(240, 80%, 90%, 0.542));
  }
  
  .subscribe-form2 input {
    padding: 10px;
    border: none;
    border-radius: 10px 0 0 10px;
  
    flex: 1;
  }
  
  .subscribe-form2 button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
  }
  

  @media (max-width: 768px) {
    .contact-item{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    
   
   .contact-form-container {
        flex-direction: column;
        align-items: center !important;
        display: flex;
        margin-inline: auto;
        justify-content: center;
        padding-inline:0 !important;
               margin-top: -10vh;
        width: 100%;
    }
    .footer-section101 {
    
     
      padding-inline: 50px !important;
    
    }
  
    .contact-item {
      text-align: start;
     
    }
  
    .contact-details4 {
      width: 100%;
    }

    .contact-text{
      margin-top: 1px;
      max-width: 80%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-inline: auto;
    }

    .biggest-text91 {
      font-size: 24px;
      text-align: center;
      width: 90%;
    }

  .contact-text p ,.contact-details4 p {
      font-size: 1em;
       margin-right: 0; /* Remove right margin for mobile */
    }

    .contact-form {
        width: 80%;
        text-align: center; /* Adjust form width on mobile */
    }
    .newsletter-container{
      margin-block:2vh;
      text-align: center;
      flex-direction: column;
    }
    .newsletter-content{
      max-width: 100%;
      padding: 2vh;
 text-align: center;
    }
    .newsletter-image101{
text-align: center;
    }

    .form-group {
        flex-direction: column;
        gap: 15px;
    }
    .kuma{
      margin-top: -5vh;
      width: 100%;
      text-align: center !important;
      margin-inline: auto;
      justify-content: center;
      flex: 1;
     
    }
    
 .footer9{
  grid-template-columns: repeat(1, 1fr); /* 3 cards per row */

 }
      .footer-section{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
  width: 85%;
  

   
    
      
        }
        .jumpa {
          text-align: center;
        }
        .bora{
          display: none;
        }
        .footer-section3{
        display: flex;
        flex-direction: column;
        align-items: center;
        
          margin-inline: 2vh;

            flex-direction: column; /* Stack elements vertically on mobile */
          
          
                 
             
               }
        .karuna{
     
          padding-inline: auto !important;
          text-align: center;
          display: flex;
        
          align-items: center;
          justify-content: center;
          flex-direction: column;
         

        }
        .karuna1{
          width: 200% !important;
          text-align: center;

        }
        .contact-info-container57{
          display: flex;
        flex:1;
          align-items: center;
          justify-content: center;
          padding: 0;
          margin-inline: auto;
          width: 100% !important;
          text-align: center;
          flex-direction: column;
          margin-top: 15vh;
        }
      
        .enquiry{
          font-size: 24px;
          font-weight: 400;
          text-align: center;
          
      }
      .image-container57 {
        display: flex;
        padding-inline: 0 !important;
        margin-inline: auto;
        min-width: 80%;
        
        align-items: center;
        justify-content: center;
      }
      .footer-section ul{
        
          align-items: center;
          justify-content: center;
          display: flex;
          flex-direction: column;
      
      }
      .submit-button{
        text-align: center;
      }
      .subscribe-form2{
        
      
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
      .closs{
        width: 100% !important;
        text-align: center;
        margin-inline:auto !important 
      }
    }