.blog-detail-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 130px;
    font-family: Arial, sans-serif;
  }
  
  .blog-detail-container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .blog-section {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 40px;
  }
  
  .blog-text {
    flex: 1;
  }
  
  .blog-image {
    margin-left: 20px;
  }
  
  .blog-image img {
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  @media (max-width: 768px) {
    .blog-section {
      flex-direction: column;
    }
  
    .blog-image {
      margin-left: 0;
      margin-top: 10px;
  align-items: center;

    }
    .content-wrapper{
      flex-direction: column !important;

    }
    .sidebar{
      width: 100% !important;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-inline: 0 !important;
      justify-content: center;
      padding-inline: 0 !important;
    }
    .toc-container{
      padding-inline: 5vw !important;
    }
    .main-content{
      width: 100% !important;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-inline: 0 !important;
      padding-inline: 0 !important;

      justify-content: center;
    }
  
    .blog-image img {
      max-width: 100%;
    }
  }
  .content-wrapper{
    display: flex;
    padding: 7vh;
    flex-direction: row;
  }
  .main-content {
    width: 55%;

    padding: 10vh;
  }
  
  .section {
    margin-bottom: 40px;
  }
  
  .section h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  .header {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  

  .header-image {
    width: 90%;
    padding: 2vw;
    height: auto;
    border-radius: 8px;
  }
  .padding-h1{
    width: 70% !important;
    margin-top: 5vh !important;
  }
  
  .content-image {
    width: 100%;
    height: auto;
   
    margin-bottom: 15px;
  }
  .content-image2 {
    width: 52vw;
    height: 40vh;
   object-fit: cover;
    margin-bottom: 15px;
  }
  .section p {
    font-size: 1rem;
    width: 100%;
    line-height: 1.6;
  }
  .sidebar {
    width: 30%;
    padding: 20px;
  }
  .toc-container{
    background-color: #F4F4F4;
    padding: 5vh 2vw;
    margin: 3vh;
  }
  
  .toc-container h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .toc-container ul {
    list-style-type: none;
    padding-left: 0;
    text-decoration: none;
  }
  
  .toc-container li {
    margin-bottom: 10px;
    font-size: 1rem;
  }
  .toc-container li a {
    text-decoration: none;
  }
  
  .share-container h3 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
  }
  
  .social-icons {
    display: flex;
    align-items: start;
    gap: 15px;
  }
  .iri{
    cursor: pointer;
  }
  .biggest-text91 {
    text-align: center;
    margin: 0;
   width: 80%;
    font-size: 40px;
    font-weight:500;
    
  }